{% extends "base_generic.html" %}

{% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Report Disaster</h2>
            <ol>
              <li><a href="{% url 'index' %}">Home</a></li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Contact Section -->
    <section class="services">
    <div class="container">
        <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    </div>
    </section>
</main>

{% endblock %}