.py-3 {
    padding-top: 1
rem
!important;
    padding-bottom: 1
rem
!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.p-3 {
    padding: 1
rem
!important;
}

.list-group{
    padding: 16px;
}